.avatar{
   position: relative;
  }
  
  .avatar__image{
    width: 10rem;
    height: 10rem;  
  }
  
  .avatar__icon{
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    bottom: 0.5rem; 
    right: 1.25rem;
    border-radius: 50%;
    border: 2px solid white;
    display: grid;
    place-items: center;
    background-color: #FF9385;
}