@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

:root {
  --font-family: "Signika", sans-serif;
  --color-primary: #91c788;
  --color-secondary: #ff8473;
  --color-secondary-light: #FFC0B8;
  --color: #7C7C7C;
  --color-onboarding-header: rgba(0, 0, 0, 0.85);
  --font-weight-onboarding-header: 600;
  --font-size-onboarding-header: 1.5rem;
  --color-onboarding-text: rgba(0, 0, 0, 0.45);
  --font-size-onboarding-text: 1rem;
  --color-onboarding-acount: #7C7C7C;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--font-family);
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: var(--font-family);
}
