.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.favorite-card {
    border-radius: 20%;
    width: 8.25rem;
    height: 9rem;
    display: grid;
    place-items: center;
}

.favorite-card__inner {
    display: grid;
    row-gap: 0.8rem;
    justify-items: center;
}

.fruits {
    background: #FFF2F0;
}

.fruits-text {
    color: #4D0A00;
}

.vegetables {
    background:#EFF7EE;
}

.vegetables-text {
    color: #1C3418;
}

