.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

/* properties of favorite-card block */
.favorite-card {
    border-radius: 20%;
    width: 8.25rem;
    height: 9rem;
    display: grid;
    place-items: center;
}

/* properties of favorite-card_inner element */
.favorite-card__inner {
    display: grid;
    row-gap: 0.8rem;
    justify-items: center;
}

/* properties of fruits card */
.fruits {
    background: #FFF2F0;
}
.fruits-text {
    color: #4D0A00;
}

/* properties of vegetables card */
.vegetables {
    background:#EFF7EE;
}
.vegetables-text {
    color: #1C3418;
}

/* properties of snacks card */
.snacks {
    background:#FFF8EB;
}
.snacks-text {
    color: #4D3200;
}