/* specify overall LAYOUT */
.favorite-cards {
    display: grid;
    grid-auto-flow: column;
    column-gap: 1rem;
}

/* properties of the favorite-card BLOCK */
.favorite-card {
    border-radius: 20%;
    width: 8.25rem;
    height: 9rem;
    display: grid;
    place-items: center;
}

/* properties of the favorite-card_inner ELEMENT */
.favorite-card__inner {
    display: grid;
    row-gap: 0.8rem;
    justify-items: center;
}

/* properties of the fruits card */
.favorite-card--fruits {
    background: #FFF2F0;
    color: #4D0A00;
}

/* properties of the vegetables card */
.favorite-card--vegetables {
    background:#EFF7EE;
    color: #1C3418;
}

/* properties of the snacks card */
.favorite-card--snacks {
    background:#FFF8EB;
    color: #4D3200;
}